<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hidroponia</title>
</head>
<body>
    <header>
        <h1>Hidroponia</h1>
        <h2>@HShishido</h2>
    </header>

    <div id="dashboard-page">
        <main>
            <h2>Medidores do Sistema</h2>
            <div id="cards-data"></div>
            <h2>Dados Obtidos</h2>
            <div id="datas-objects"></div>
        </main>
    </div>  
    <script src="scripts/api_get.js"></script>
</body>
</html>

